<!DOCTYPE html>
<html>
<head>
  <title>UMS1</title>
  <%= stylesheet_link_tag    "application", "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
